html{font-size: 32px;}
body{max-width: 640px;margin: 0 auto;font-family: '微软雅黑';}
.header{width: 100%;height: 2.71875rem;font: 1.03125rem '微软雅黑';line-height: 2.75rem;text-align: center;color: #fff;background-color: #000;}
.header img{position: absolute;top: 1.0625rem;left: .96875rem;width: 1rem;height: .6875rem;}

/* banckground */
.yellow{background-color: #FDBC0A;}
.popo{background-color: #8D1DAF;}


/* warp */

.wrap{box-sizing: border-box;height: 38.4375rem;padding: .6875rem .28125rem 0 .625rem;}
.wrap > a{position: relative;float: left;box-sizing: border-box;width: 48%;height: auto;margin-right: 2%;margin-bottom: 2%;border: 1px solid black;border-radius: 5px;background-color: #fff;}
.product-name{margin-bottom: .625rem;padding: 0 .46875rem;font-size: .75rem;line-height: .84375rem;}
.product-price{height: 1.40625rem;margin-bottom: .6875rem;padding: 0 .46875rem;font-size: .6875rem;line-height: 1.40625rem;white-space: nowarp;color: #df2a5c;}
.product-price span{font-size: .46875rem;}
.product-car{position: absolute;right: .4375rem;bottom: .625rem;width: 1.40625rem;height: 1.40625rem;text-align: center;border-radius: 50%;background-color: #000;
    /*  transform: scale(1, 1); 使用后不好定位了 已舍弃*/}
.product-car img{width: 1rem;height: .90625rem;vertical-align: middle;}
.img-div{overflow: hidden;height: 7.09375rem;line-height: 7.09375rem;text-align: center;}
.img-div img{width: 9.15625rem;vertical-align: middle;}
@media screen and (max-width: 460px){.product-price{font-size: 16px;}}
@media screen and (max-width: 320px){.product-price{font-size: 14px;}}

